<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>广播式WebSocket</title>
    <script th:src="@{js/sockjs.min.js}"></script>
    <!-- <script th:src="@{js/stomp.js}"></script> -->
    <script th:src="@{js/webstomp.js}"></script>
    <script th:src="@{js/jquery-3.1.1.js}"></script>
</head>
<body onload="disconnect()">
	<noscript>
		<h2 style="color: #e80b0a;">Sorry，浏览器不支持WebSocket</h2>
	</noscript>
	<div>
	    <div>
	        <button id="connect" onclick="connect();">连接</button>
	        <button id="disconnect" disabled="disabled" onclick="disconnect();">断开连接</button>
	    </div>
	
	    <div id="conversationDiv">
	        <label>输入你的名字</label>
	        <input type="text" id="msg"/>
	        <button id="sendName" onclick="sendMsg();">发送</button>
	        <p id="response"></p>
	    </div>
	</div>
	<script type="text/javascript">
		var stompClient = null;
	    function setConnected(connected) {
	        document.getElementById("connect").disabled = connected;
	        document.getElementById("disconnect").disabled = !connected;
	        document.getElementById("conversationDiv").style.visibility = connected ? 'visible' : 'hidden';
	        $("#response").html();
	    	}
	    
	   	function connect() {
	        var socket = new SockJS('/endpointSang', { heartbeat: false });
	        
	       	socket.onopen = function() {
	            console.log('socket open');
	        };

	        socket.onmessage = function(e) {
	            console.log('socket message', e.data);
	        };

	        socket.onclose = function() {
	            console.log('socket close');
	        };
	        
	        // stompClient = Stomp.over(socket); //stomp.js
	       	stompClient = webstomp.over(socket); // webstomp.js
	        stompClient.connect({}, function (frame) {
	            setConnected(true);
	            console.log('Connected:' + frame);
	           /*  stompClient.subscribe('/topic/getResponse', function (response) {
	            		console.log('response -> ', response);
	                showResponse(JSON.parse(response.body).responseMessage);
	            }); */
	            stompClient.subscribe('/user/ws2/msg', function (response) {
	            		console.log('Chat Response From ws2-> ', response);
	            		showResponse(JSON.parse(response.body).msg);
	            });
	        });
    		}
	    function disconnect() {
	        if (stompClient != null) {
	            stompClient.disconnect();
	        }
	        setConnected(false);
	        console.log('Disconnected');
	    }
	    function sendMsg() {
	        var msg = $('#msg').val();
	        var body = JSON.stringify({'msg': msg});
	        stompClient.send("/welcome", body, {"user": "ws"});
	    }
	    
	    function showResponse(message) {
	        $("#response").append('<p>' + message + '</p>');
	    }
	</script>
</body>
</html>